@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background-image: linear-gradient(145deg, purple, pink);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h2 {
  color: rgb(248, 248, 248);
  font-size: 40px;
  margin: 30px;
  text-shadow: 2px 2px 14px black;
}
h2 span {
  color: rgb(255, 0, 0);
  text-shadow: 1px 1px 5px #090000ab;
}
textarea {
  height: 250px;
  width: 70vw;
  border: none;
  outline: none;
  resize: none;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 0px black;
  margin: 10px;
  padding: 8px;
  background-color: #ffffffc9;
}
textarea::placeholder {
  color: rgba(0, 0, 0, 0.79);
  font-size: 15px;
}
select {
  height: 24px;
  width: 275px;
  border: none;
  margin: 10px;
  padding: 4px;
  border-radius: 20px;
  background-color: #000000ab;
  color: white;
  box-shadow: 2px 2px 14px black;
}
button {
  height: 30px;
  width: 100px;
  border: none;
  border-radius: 20px;
  background-color: #ec2c2c;
  color: white;
  font-size: 16px;
  cursor: pointer;
  text-shadow: 1px 1px 14px black;
  box-shadow: 1px 1px 5px #090000ab;
  margin:20px;
}
button:active {
  scale: 0.98;
  background-color: #e50909;
}
@media all and (max-width: 400px) {
  h2 {
          font-size: 32px;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .final{
          display: flex;
          flex-direction: column;
          align-items: center;
        }
    }
